<% if notice %>
  <%= notice %>
<% end %>

<h1><%= @item.name %></h1>
<br>
<h1><%= @item.description %></h1>
<br>
<h1><%= @item.price %></h1>
<br>
<h1><%= @item.created_at %></h1>
<br>
<h1><%= @item.updated_at %></h1>
